<div class="page-padding">
  <div class="post-contents-box">
    <h1 class="post-contents-head">
      <i class="fas fa-pencil-alt"></i>
      <ruby>投稿編集<rt>とうこうへんしゅう</rt></ruby>
    </h1>
    <div class="question-post-fields">
      <% if @question.errors.any? %>
        <% @question.errors.full_messages.each do |message| %>
          <p class="error-massage"><%= message %></p>
        <% end %>
      <% end %>
      <%= form_with model: @question, local:true do |f| %>
        <div class="question-field">
          <%= f.collection_select :category_id, Category.all, :id, :name %>
        </div>
        <div class="question-field">
          <%= f.attachment_field :image %>
        </div>
        <div class="question-field">
          <p class="question-field-p"><%= f.label :title %></p>
          <%= f.text_field :title, class: "question-title-field" %>
        </div>
        <div class="question-field">
          <p class="question-field-p"><%= f.label :observation %></p>
          <%= f.text_area :observation, class: "question-body-field" %>
        </div>
        <div class="question-field">
          <p class="question-field-p"><%= f.label :impression %></p>
          <%= f.text_area :impression, class: "question-body-field" %>
        </div>
        <div class="question-field">
          <p class="question-field-p"><%= f.label :realization %></p>
          <%= f.text_area :realization, class: "question-body-field" %>
        </div>
        <div class="question-field">
          <p class="question-field-p"><%= f.label :uncertainty %></p>
          <%= f.text_area :uncertainty, class: "question-body-field" %>
        </div>
        <button type="submit" class="question-post-btn">
          投稿編集
        </button>
      <% end %>
    </div>
  </div>
</div>