<h1><ruby>投稿編集<rt>とうこうへんしゅう</rt></ruby></h1>
<% if @question.errors.any? %>
  <% @question.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model: @question, local:true do |f| %>
  <div class="question-field">
    <h4><%= f.label :title %></h4>
    <%= f.text_field :title %>
  </div>
  <div class="question-field">
    <%= f.attachment_field :image %>
  </div>
  <div class="question-field">
    <%= f.label :observation %><br>
    <%= f.text_area :observation %>
  </div>
  <div class="question-field">
    <%= f.label :impression %><br>
    <%= f.text_area :impression %>
  </div>
  <div class="question-field">
    <%= f.label :realization %><br>
    <%= f.text_area :realization %>
  </div>
  <div class="question-field">
    <%= f.label :uncertainty %><br>
    <%= f.text_area :uncertainty %>
  </div>
  <%= f.submit %>
<% end %>