<div class="question-page">
  <div class="question-contents">
    <!--カテゴリー一覧-->
    <div class="categories-index categories-question-show">
      <%= render 'questions/categories', categories: @categories %>
    </div>
    <!--なんで記事詳細-->
    <div class="questions-list">
      <div class="question-show">
        <p class="question-titles-category"><%= @question.category.name %></p>
        <h1 class="question-show-header"><%= @question.title %></h2>
        <p class="question-titles-p">
          <%= link_to @question.user.name, user_path(@question.user), class: "p-username" %>
        </p>
        <p class="question-titles-p"><%= @question.created_at.strftime('%Y/%m/%d') %></p>
        <div class="question-show-image"><%= attachment_image_tag @question, :image, size: '120x100' %></div>
        <div class="question-show-observation">
          <h2 class="question-show-item">気づいたこと</h2>
          <p class="question-show-opinion"><%= simple_format(h(@question.observation)) %></p>
        </div>
        <div class="question-show-impression">
          <h2 class="question-show-item"><ruby>思ったこと</h2>
          <p class="question-show-opinions"><%= simple_format(h(@question.impression)) %></p>
        </div>
        <div class="question-show-realization">
          <h2 class="question-show-item">わかったこと</h2>
          <p class="question-show-opinion"><%= simple_format(h(@question.realization)) %></p>
        </div>
        <div class="question-show-uncertainty">
          <h2 class="question-show-item">まだわからないこと</h2>
          <p class="question-show-opinion"><%= simple_format(h(@question.uncertainty)) %></p>
        </div>
        <div class="question-show-edit-delete">
          <% if @question.user == current_user || (current_user && current_user.admin?) %>
            <%= link_to "編集", edit_question_path(@question), class: "question-edit edit-delete" %>
            <%= link_to "削除", question_path(@question), method: :delete, data: {confirm: "削除しますか？"}, class: "question-delete edit-delete" %>
          <% end %>
        </div>
      </div>
      <!--お気に入り-->
      <div class="favorite-btn-<%= @question.id %>">
        <%= render 'favorites/favorite', question: @question %>
      </div>
      <!--コメント-->
      <div class="comment-content">
        <%= render 'comments/index', comments: @comments %>
      </div>
      <div class="new-comment">
        <%= render 'comments/comments_form', question: @question, comment: @comment %>
      </div>
    </div>
  </div>
</div>