<div class="user-profile-items">
  <div><%= attachment_image_tag user, :image, size: '100x100', fallback: "no_image.png", class: "user-list-img" %></div>
  <p class="user-profile-name"><%= user.name %></p>
</div>
<p><%= simple_format(h(user.introduction)) %></p>
<% if user.is_active == false %>
  <p>このユーザーは退会しました</p>
<% else %>
  <!--フォローボタン-->
  <% unless current_user && user.id == current_user.id %>
    <div class="<%= user.id %>-follow-btn follow-btn">
      <%= render 'follow', user: user %>
    </div>
  <% end %>
<% end %>
<% if (user_signed_in? && user.id == current_user.id) || (current_user && current_user.admin?) %>
  <p class="user-profile-edit-p">
    <%= link_to "プロフィール編集", edit_user_path(user), class: "user-profile-edit" %>
  </p>
<% end %>
<% if user_signed_in? && user.id == current_user.id %>
  <p class="user-hide">
    <%= link_to "退会する", user_out_path(user) %>
  </p>
<% end %>
<!--お気に入り一覧-->
<p class="profile-link-items">
  <%= link_to "お気に入りなんで事典", users_favorites_path(user), class: "profile-link" %>
</p>
<p class="profile-link-items">
  <%= link_to "フォロー一覧", user_followed_path(user), class: "profile-link" %>
</p>
<p class="profile-link-items">
  <%= link_to "フォロワー一覧", user_follower_path(user), class: "profile-link" %>
</p>
