<h2>プロフィール編集</h2>
<%= form_with model:@user, local:true do |f| %>
  <div class="field">
    <%= f.label :name, "ニックネーム" %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "名前" %>
  </div>
  <div class="field">
    <%= f.label :introduction, "自己紹介" %><br />
    <%= f.text_area :introduction %>
  </div>
  <%= f.submit "変更を保存" %>
<% end %>