<div class="profile-edit-page">
  <div class="profile-edit-contents">
    <h2 class="question-post-head">プロフィール編集</h2>
    <div class="question-post-fields">
      <!--エラーメッセージ-->
      <%= render 'layouts/error', obj: @user %>
      <%= form_with model: @user, local:true do |f| %>
        <div class="field">
          <p class="question-field-p"><%= f.label :name %></p>
          <%= f.text_field :name, autofocus: true, class: "question-title-field" %>
        </div>
        <div class="field">
          <p class="question-field-p"><%= f.label :image %></p>
          <%= f.attachment_field :image, class: "question-title-field" %>
        </div>
        <div class="field">
          <p class="question-field-p"><%= f.label :introduction %></p>
          <%= f.text_area :introduction, class: "question-body-field" %>
        </div>
        <div class="field">
          <% if current_user.admin? %>
            <%= f.label :is_active, "会員ステータス" %><br />
            <%= f.radio_button :is_active, :true %>
            <%= f.label :有効, class: "status" %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :退会, class: "status" %>
          <% end %>
        </div>
        <button type="submit" class="question-post-btn">
          変更を保存
        </button>
      <% end %>
    </div>
  </div>
</div>