<div class="user-index-page">
  <!--カテゴリー一覧-->
  <div class="categories-index categories-user-index">
    <%= render 'questions/categories', categories: @categories %>
  </div>
  <!--ユーザー一覧-->
  <div class="users-list">
    <h1 class="user-index-head">ユーザー一覧</h1>
    <div class="users-list-items">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag user, :image, size: '120x100' %>
          <p class="user-list-username">ユーザーネーム：<%= user.name %></p> <%# if current_user.id == 0 %><%# admin権限持ちなので削除ボタンがある。 %><%# end%>
        <% end %>
      <% end %>
    </div>
    <div class="user-index-paginate paginate">
      <%= paginate @users %>
    </div>
  </div>
</div>
