<h3 class="profile-name"><%= @user.name %> のなんで事典</h3>
<div class="profile">
  <%= @user.name %>
  <%= attachment_image_tag @user, :image, size: '140x100' %>
  <%= @user.introduction %>
</div>
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>
<div class="user-show-questions">
  <% @questions.each do |question| %>
  <div class="questions-title">
    <%= link_to question.title, question_path(question) %>

  </div>
  <% end %>
</div>